.figure-component {
  padding: 4rem 1rem;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top left, rgb(250, 217, 250), #f8f8ff 70%);
  border-radius: 15px;
  padding: 2rem;
  margin: 4rem auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #000;
  max-width: 1200px;
  margin-top: 0px;
}

.mascot {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  width: 100px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}

.api-output {
  position: relative;
  overflow-y: auto;
  max-height: 450px;
  padding: 1rem;
  border: 1px solid #ddd;
  width: 100%;
  box-shadow: 10px 10px 5px 12px lightblue;
}

.api-response {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
}

.quiz-section {
  margin-top: 2rem;
  flex:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-section h2 {
  color: #1a8cd8;
  margin-bottom: 1rem;
}

.quiz-section input[type="number"] {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.quiz-section button {
  /* Same as .input-section button */
}

.questions-output {
  margin-top: 1rem;
}

.question {
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #f9f9f9;
}

.score {
  font-weight: bold;
  text-align: right;
  margin-top: 1rem;
}

.statistic {
  text-align: center;
  margin: 1rem;
}

.statistic-number {
  /* Gradient text style */
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(to right, #1a8cd8 0%, #4dabf7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  transition: transform 0.3s ease-in-out;
}

.statistic-label {
  font-size: 1rem;
}

.testimonial {
  max-width: 45%;
  margin: 1rem;
  padding: 1rem;
  border-left: 4px solid #1a8cd8;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.testimonial-quote {
  quotes: "“" "”" "‘" "’";
}

.testimonial-author {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.testimonial-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.figure-component {
  padding: 4rem 1rem;
  background: linear-gradient(to right, #000026 40%, rgb(136, 19, 136) 100%);
  min-height: 100vh; /* Ensure it takes at least the full height of the viewport */
}

.api-output {
  background: #FFF; /* Or another color based on your theme */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  padding: 1rem; /* Padding inside the box */
  margin-top: 2rem; /* Space above the box */
  height: auto; /* Height should adjust based on content */
  min-height: 350px; /* Minimum height to maintain size without content */
  width: 100%; /* Full width */
  overflow-y: auto; /* Allow scrolling when content overflows */
  border: 1px solid #ddd; /* Border for definition */
}

.output-box {
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns children elements to the center */
  justify-content: center; /* Centers children elements vertically if there is extra space */
  position: relative;
  background: #FFF; /* Or another color based on your theme */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  padding: 1rem; /* Padding inside the box */
  margin-top: 2rem; /* Space above the box */
  min-height: 350px; /* Minimum height to maintain size without content */
  width: 75%; /* Full width */
  overflow-y: auto; /* Allow scrolling when content overflows */
  border: 1px solid #ddd; /* Border for definition */
  flex: auto;
  max-width: 1200px;
}

.quiz-output-box {
  background: #FFF; /* Or another color based on your theme */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  padding: 1rem; /* Padding inside the box */
  margin: 1rem 0; /* Margin on top and bottom, 0 for left and right */
  width: calc(100% - 1rem); /* Full width minus the padding */
  height: auto; /* Height should adjust based on content */
  min-height: 350px; /* Minimum height to maintain size without content */
  overflow-y: auto; /* Allow scrolling when content overflows */
  flex: content;
}
.input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
  width: 100%;
}

.file-input-container {
  background: linear-gradient(135deg, rgba(106, 17, 203, 1) 0%, rgba(37, 117, 252, 1) 100%);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.file-input-container:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #6c5ce7 0%, #1a8cd8 100%);
}

.file-display-bubble {
  background-color: #f0f0f0;
  color: #333;
  border-radius: 12px;
  padding: 0.25rem 0.75rem;
  margin-left: 10px;
  font-size: 0.875rem;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-section input[type="text"] {
  flex-grow: 2;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  max-width: 400px; /* Adjust to your preferred fixed length */
}

.input-section button {
  background: linear-gradient(135deg, rgba(106, 17, 203, 1) 0%, rgba(37, 117, 252, 1) 100%);
  color: white;
  padding: 0.5rem 1rem;
  border: 2px solid #2c3e50; /* Outline style */
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-section button:hover {
  background-color: #1380c6;
  box-shadow: 0 0 10px #1380c6;
}

@media (max-width: 768px) {
  .input-section {
      flex-direction: column;
  }

  .input-section input[type="text"],
  .input-section button,
  .file-input-container {
      width: 100%; /* Full width on smaller screens */
  }
}


.suga {
background: linear-gradient(to right, #1a8cd8 0%, rgb(136, 19, 136) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
display: inline; /* Or block, depending on your layout */
}

.input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
  width: 100%;
}

.file-input-container {
  background: linear-gradient(135deg, rgba(106, 17, 203, 1) 0%, rgba(37, 117, 252, 1) 100%);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.file-input-container:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #6c5ce7 0%, #1a8cd8 100%);
}


.file-input-container input {
  display: none; /* Hide the default file input */
}

.file-input-container span {
  font-size: 0.875rem;
}

.input-section input[type="text"] {
  flex-grow: 2;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.input-section button {
  background: linear-gradient(135deg, rgba(106, 17, 203, 1) 0%, rgba(37, 117, 252, 1) 100%);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-section button:hover {
  background-color: #1380c6;
  box-shadow: 0 0 10px #1380c6;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .input-section {
    flex-direction: column;
  }

  .input-section input[type="text"],
  .input-section button,
  .file-input-container {
    width: 100%; /* Full width on smaller screens */
  }
}

/* ...other styles... */

.file-display-bubble {
  background-color: #f0f0f0;
  color: #333;
  border-radius: 12px;
  padding: 0.25rem 0.75rem;
  margin-left: 10px;
  font-size: 0.875rem;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ...media queries and other styles... */


.suga2 {
  background: rgb(136, 19, 136);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline; /* Or block, depending on your layout */
  }
    
    .quiz-section {
      opacity: 0;
      transform: translateY(20px); 
      visibility: hidden;
      transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
    }
    
    .quiz-section-visible {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      padding-top: 50px;
    }

    .quiz-input-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .num-questions-input {
      width: 50%; /* Set to desired width */
    }
    
    /* Add styles for your label if needed */
    label {
      color: #000; /* Adjust as needed */
      font-size: 1rem; /* Adjust as needed */
    }
    
    /* Make sure this class targets the button inside your .quiz-input-container */
    .file-input-container {
      /* your existing styles for the button */
    }
    
    /* Make sure your transitions and visibility styles are set for the .quiz-section-visible class */
    .quiz-section-visible {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
    }
    
    /* Hide the section initially */
    .quiz-section {
      opacity: 0;
      transform: translateY(20px);
      visibility: hidden;
      transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
    }
    
    
    /* Modify the number input type style */
    .input-section input[type="number"] {
      width: 200px; /* Half the size of 'Topic Name' input */
      padding: 0.5rem;
      border: 1px solid #ccc;
      text-align: center;
      color: black;
      padding: 0.5rem 1rem;
      border-radius: 20px;
    }
    
    .score-container {
      position: absolute;
      top: 10px;
      right: 10px;
      background: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
      padding: 0.5rem 1rem;
      border-radius: 20px;
      border: 2px solid #1a8cd8; /* Border color to match your theme */
      color: #1a8cd8; /* Text color to match your theme */
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      font-size: 1.2rem;
      font-weight: bold;
      z-index: 10; /* Ensure it sits above other content */
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 80px; /* To ensure size for single digits */
      flex-direction: column; /* Stack flex children vertically */
      align-items: flex-start; /* Align children to the start of the cross axis */
    }
    
    .score {
      margin: 0; /* Remove margin if any */
    }

    .input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
  width: 100%;
}

.file-input-container {
  background: linear-gradient(135deg, rgba(106, 17, 203, 1) 0%, rgba(37, 117, 252, 1) 100%);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.file-input-container:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #6c5ce7 0%, #1a8cd8 100%);
}

.file-display-bubble {
  background-color: #f0f0f0;
  color: #333;
  border-radius: 12px;
  padding: 0.25rem 0.75rem;
  margin-left: 10px;
  font-size: 0.875rem;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flash-card-container {
  background-color: #f8f8ff; /* Light background color for the card */
  border-radius: 15px; /* Rounded corners for the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin: 2rem auto; /* Centering the card with margin on top and bottom */
  padding: 1rem; /* Padding inside the card */
  max-width: 80%; /* Maximum width with respect to its container */
  word-wrap: break-word; /* Ensure long words do not overflow */
}

.flash-card-header {
  font-size: 1.5rem; /* Adjust size as needed */
  font-weight: bold;
  color: #2575fc;
  text-align: center;
  margin-bottom: 1rem; /* Space between the header and definition */
}

.flash-card-definition {
  font-size: 1.2rem; /* Adjust size as needed */
  color: #4c4c4c; /* A neutral color for the definition text */
  text-align: left;
  padding: 2rem 0; /* Padding for visual comfort */
  padding-left: 5rem;
  padding-right: 5rem;
}